Copyright by Arjun Sarkar Research Group Applied Systems Biology - Head: Prof. Dr. Marc Thilo Figge https://www.leibniz-hki.de/en/applied-systems-biology.html HKI-Center for Systems Biology of Infection Leibniz Institute for Natural Product Research and Infection Biology - Hans Knöll Insitute (HKI) Adolf-Reichwein-Straße 23, 07745 Jena, Germany

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

In [2]:
df_path = '/asbdata/Arjun/Bloodi/Infection_data.xlsx'

df = pd.read_excel(df_path)
df.head()

   Video_Num Infection_type  Patient  Patient_id
0          1             ca        1    20180220
1          2             cg        1    20180220
2          3           mock        1    20180220
3          4             ca        2    20180315
4          5             cg        2    20180315

In [3]:
# Drop last column of a dataframe
df = df.iloc[: , :-1]
df.head()

   Video_Num Infection_type  Patient
0          1             ca        1
1          2             cg        1
2          3           mock        1
3          4             ca        2
4          5             cg        2

In [4]:
df = df[df['Video_Num'].isin([1,2,3,4,5,6,13,14,15,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35])]
df.head()

   Video_Num Infection_type  Patient
0          1             ca        1
1          2             cg        1
2          3           mock        1
3          4             ca        2
4          5             cg        2

In [5]:
df.to_csv('Labels.csv',index = False)

In [6]:
df = pd.read_csv('Labels.csv')
df.head()

   Video_Num Infection_type  Patient
0          1             ca        1
1          2             cg        1
2          3           mock        1
3          4             ca        2
4          5             cg        2